/* Reset for browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling after reset */
@font-face {
	font-family: NorseBold;
	src: url(Norse-Bold.otf) format(opentype);
}

@font-face {
	font-family: Hussar3D;
	src: url(Dion-vdDD.otf) format(opentype);
}

@font-face {
	font-family: Znikos;
	src: url(Znikoslsvginot8-GOB3y.ttf);
}

* {
    margin: none;
}

.container {
    display: flex;
    height: 99.8vh;
    width: 100vw;
}

.left-side {
    height: 100%;
    width: 40vw;
    overflow: hidden;
	background-image: url(images/sunrise.jpg);
	background-repeat: no-repeat;
	background-size: 200% 100% ;
	background-position: center center;
}

.logo-background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	width: 100%;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.322);
	color: white;
}

svg {
	margin-top: 10px;
	fill:#ffffff
}

.odin {
	font-family: NorseBold;
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.logo {
	font-size: 2rem;
	font-family: Znikos;
	font-weight: 900;
}

.source {
	color: #ffffff;
	margin-top: 80%;
	margin-left: 10%;
	font-size: .85rem;
}

a:link { 
	color: #ffffff;
}

a:visited { 
	color: #ffffff;
}

a:hover { 
	color: #ffffff;
}

a:active { 
	color: #ffffff;
}

.right-side {
	display: flex;
	flex-direction: column;
    height: 100%;
    width: 60vw;
	background-color: #e27815;
}

.top-p {
	height: 40%;
	font-family: Znikos;
	font-size: 2rem;
	font-weight: 900;
	color: #ffffff;
}

.top1 {
	margin-top: 2%;
}

.top2 {
	margin-top: 2%;
}

.top3 {
	margin-top: 12%;
}

p {
	margin-left: 4%;
	line-height: 40px;
}

.middle-form {
	background-color: #fcfaf6;
	height: 30%;
	width: 90%;
	margin-left: 5%;
	color: #30363b;
	box-shadow: 0 0 20px 8px #545457;
	border-radius: 20px;
}

.form-left {
	display: flex;
	margin-top: 2%;
	margin-left: 8%;
}

.form-middle {
	display: flex;
	margin-top: 2%;
	margin-left: 8%;
}

.form-right {
	display: flex;
	margin-top: 2%;
	margin-left: 8%;
}

.forms {
	display: flex;
	flex-direction: column;
	margin-right: 3%;
	color: #30363b;
	font-family: Courier New, monospace;
}

legend {
	margin-left: 4%;
	font-family: Hussar3D;
	font-size: 2rem;
	font-weight: 500;
}

input {
	border-radius: 4px;
	font-size: 1.25rem;
}

.footer {
	height: 30%;
	margin-top: 3%;
	color: #ffffff;
}

.footer-p {
	margin-left: 8%;
	font-weight: 700;
	font-size: 15px;
}

button {
	margin-left: 8%;
	height: 60px;
	width: 125px;
	background-color: #a9c0d6;
	border-radius: 10px;
	border: 2px solid #55616d;
	font-family: Georgia, serif;
	font-size: 16px;
	font-weight: 700;
	color: #000000;
}